<% layout("/layouts/boilerplate.ejs") %>
  <div class="row">
    <div class="col-8 offset-2">
      <!-- <br><br> -->
      <h3>Creat a New Listing</h3>
      <form action="/listings"
       method="POST" class="
        needs-validation"
         enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
          <div class="valid-feedback">title are good</div>

        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea type="text" required name="listing[description]" class="form-control">
            </textarea>
          <div class="invalid-feedback">description are fanstatic</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input type="file"
           name="listing[image]"     
            class="form-control">
            required
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="1200" required class="form-control">
            <div class="invalid-feedback">enter valid price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" required placeholder="India" class="form-control">
          </div>
          <div class="invalid-feedback">enter valid country</div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" required placeholder="jaipur,Rajasthan" class="form-control">
          <div class="invalid-feedback">enter valid location</div>
        </div>

        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br><br>
      </form>
    </div>
  </div>